.faq-block {
  padding: 120px 80px 50px 80px;

  .faq-block-link {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    & > div {
      width: 49%;

      a {
        margin-bottom: 15px;
        color: $main-text-color;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        display: table;
      }
    }
  }

  .faq-dropdown-block {
    margin-top: 50px;

    .faq-dropdown-item {
      margin-bottom: 15px;
      min-height: 50px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
      background-color: $bg-white-color;
      overflow: hidden;
      border-radius: 5px;

      &.show-more {
        div {
          border: 1px solid $common-orange-color;
        }
        .faq-dropdown-show-more {
          border-top: none;
          max-height: 400px;
          opacity: 1;
          padding: 20px 40px 20px 23px;
        }
        .faq-dropdown-question:before {
          transform: rotate(-45deg);
        }
      }

      .faq-dropdown-question {
        cursor: pointer;
        position: relative;
        display: flex;
        padding: 10px 40px 10px 50px;
        min-height: 50px;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 5px 5px 0 0;

        &:before {
          transition: .2s;
          margin: auto;
          content: "";
          position: absolute;
          left: 20px;
          top: 0;
          bottom: 0;
          transform: rotate(134deg);
          width: 8px;
          height: 8px;
          border-right: 2px solid $main-text-color;
          border-top: 2px solid $main-text-color;
        }

        p {
          color: $main-text-color;
          font-size: 21px;
          line-height: 24px;
        }
      }

      .faq-dropdown-show-more {
        padding: 0 40px 0 23px;
        transition: .5s;
        max-height: 0;
        opacity: 0;
        border-radius: 0 0 5px 5px;
        border: 1px solid transparent;

        p {
          color: $main-text-color;
          font-size: 21px;
          line-height: 24px;
        }
      }
    }
  }
}