.single-card {
  width: 355px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  background-color: $bg-white-color;
  display: flex;
  flex-direction: column;
  transition: .3s;
  &:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }

  img {
    height: 292px;
    object-fit: cover;
  }

  .text-block {
    padding: 15px 25px 20px;
  }

  .info-block {
    display: flex;
    margin-bottom: 25px;

    div {
      margin-right: 14px;
      display: flex;
      align-items: center;

      svg {
        fill: $bg-orange-color;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      p {
        color: $main-text-color;
        font-family: $mainfont;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  h4 {
    color: $main-text-color;
    font-family: $mainfont;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  h6 {
    color: $main-text-color;
    font-family: $mainfont;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 16px;
    min-height: 84px;
  }

  .money-count {

    .money-diagram {
      width: 100%;
      background-color: $bg-second-color;
      height: 15px;
      position: relative;
      border: 1px solid $light-gray-text-color;
      margin-bottom: 10px;

      .top-line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $bg-orange-color;
      }
    }

    .money-how {
      display: flex;
      justify-content: space-between;

      p {
        color: $main-text-color;
        font-family: $mainfont;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  &.m--my-campaign {
    button, a {
      margin-bottom: 20px;
    }
  }
}