<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB soft test</title>
    <link rel="stylesheet" href="../../../dist/css/styles.css">
</head>
<body>
<div class="popup hide">
    <div class="popup__wrapper">
        <button type="button" class="popup__buttonclose">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13" height="13">
                <defs>
                    <path id="a" d="M847.174 115.011l4.326 4.326 4.326-4.326 2.163 2.163-4.326 4.326 4.326 4.326-2.163 2.163-4.326-4.326-4.326 4.326-2.163-2.163 4.326-4.326-4.326-4.326z"></path>
                </defs>
                <use fill="#fff" xlink:href="#a" transform="translate(-845 -115)"></use></svg>
        </button>

        <!--this is code to second solution-->
        <!--<div class="wrapper">-->
            <!--<div id="player"></div>-->
        <!--</div>-->
        <!--this is code to second solution-->

        <!--comment this for use second solution-->
        <iframe class="popup__iframe" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
        <!--comment this for use second solution-->
    </div>
</div>
<main class="container">
    <section class="section-company">
    </section>
</main>

<script src="../../../dist/js/index.js"></script>
<script>

</script>
</body>
</html>