.account-admin-table {
  width: 100%;

  a {
    color: $bg-orange-color;
  }

  .title {
    border-bottom: 1px solid #eaeae8;

    th {
      padding: 15px 35px;
      border: 1px solid #eaeae8;
      font-size: 18px;
      font-weight: 500;
      background-color: #fffcfa;
    }
  }

  tr {
    td {
      vertical-align: middle;
      text-align: left;
      padding: 15px 35px;
      border: 1px solid #eaeae8;

      &:nth-child(2n) {
        background-color: $white-text-color;
      }

      &:nth-child(2n-1) {
        background-color: #fffcfa;
      }
    }

    .button-block {
      & > a, & > button {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        svg {
          width: 20px;
          height: 20px;
          fill: $main-text-color;
        }
      }
    }
  }

  &.m--big-table {
    margin-bottom: 30px;

    .title {
      text-align: left;

      th {
        padding: 15px;

        & > * {
          display: inline-block;
        }

        .title-sort-block {
          a {
            &:first-child {
              svg {
                transform: rotate(180deg);
              }
            }

            svg {
              fill: $bg-orange-color;
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    tr {
      td {
        padding: 15px;
      }
    }

    .ailment {
      max-width: 180px;
    }

    .button-block {
      padding: 15px 5px;
      a, button {
        margin-right: 5px;
      }
    }
  }
}