.jumbotron {
  height: 900px;
  position: relative;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    background-image: linear-gradient(to right, rgba(2,2,2, .7), rgba(2,2,2,0));
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .back-layer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .1);
  }

  img {
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .jumbotron-wrapper {
    position: relative;
    z-index: 3;
    padding-left: 100px;


    h1 {
      color: $white-text-color;
      font-size: 66px;
      font-weight: 700;
      line-height: 88px;
      text-transform: uppercase;
      margin-bottom: 10px;

      span {
        color: $bg-orange-color;
      }
    }

    p {
      color: $white-text-color;
      font-size: 21px;
      line-height: 28px;
      max-width: 600px;
      margin-bottom: 60px;
    }
  }

  .button-block {
    display: flex;

    *:first-child {
      margin-right: 50px;
    }
  }
}