.social-registration {
  margin-bottom: 50px;

  h3 {
    margin-bottom: 20px;
  }

  .button-social-block {
    display: flex;
    justify-content: center;

    .button-registration {
      &:first-child {
        margin-right: 50px;
      }
    }
  }
}