.allInfoBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  .allHistoryBlock {
    width: 66%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    .allHistoryBlock-imgBlock {
      width: 100%;
      height: 540px;
      overflow: hidden;
      img {
        width: 100%;
        height: 540px;
        object-fit: cover;
      }
    }
    .customUserBlock {
      padding: 50px 30px 0 30px;
      &>p {
        margin-bottom: 20px;
        color: $main-text-color;
        font-size: 18px;
        line-height: 24px;
        text-indent: 1.5em;
      }
      &>h2 {
        color: $main-text-color;
        font-size: 37px;
        font-weight: 700;
        line-height: 49px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        margin-bottom: 25px;
      }
      &>ol {
        margin: 10px;
        li {
          color: $main-text-color;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 10px;
          &:before {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $bg-orange-color;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
      figure {
        img {
          width: 80%;
          margin: 0 auto;
          display: block;
        }
        figcaption {
          color: $main-text-color;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
      }

    }
  }

  .shortInfoBlock {
    width: 32%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    .shortInfoBlock-age, .shortInfoBlock-gender, .shortInfoBlock-locations, .shortInfoBlock-category {
      color: $main-text-color;
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
      margin-bottom: 15px;
      span {
        font-weight: 400;
      }
    }
    .shortInfoBlock-startFund, .shortInfoBlock-endFund {
      color: $main-text-color;
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 5px;
    }
    .btn {
      padding: 0 40px;
      margin: 50px auto 30px auto;
      width: 100%;
      &.btn-transparent {
        margin-top: 0;
        margin-bottom: 80px;
      }
    }

    .info-block {
      display: flex;
      margin-bottom: 25px;
      margin-top: 15px;

      div {
        margin-right: 14px;
        display: flex;
        align-items: center;

        svg {
          fill: $bg-orange-color;
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

        p {
          color: $main-text-color;
          font-family: $mainfont;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .money-count {

      .money-diagram {
        width: 100%;
        background-color: $bg-second-color;
        height: 15px;
        position: relative;
        border: 1px solid $light-gray-text-color;
        margin-bottom: 10px;

        .top-line {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: $bg-orange-color;
        }
      }

      .money-how {
        display: flex;
        justify-content: space-between;

        p {
          color: $main-text-color;
          font-family: $mainfont;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .repostBlock {
      padding: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.24);
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
      .social-network {
        h5 {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 300;
          line-height: 21px;
          text-align: center;
        }

        ul {
          display: flex;
          justify-content: center;

          li {
            margin-right: 12px;

            a {
              display: block;

              svg {
                width: 30px;
                height: 30px;
                fill: $bg-orange-color;
              }
            }
          }
        }
      }
    }
    .advertising-block {
      margin-top: 50px;
      img {
        width: 100%;
      }
    }
    .helpedUs {
      padding: 40px;
      h5 {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
        span {
          display: block;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

  }
}