.new-campaign-block {
  width: 100%;
  background-color: $bg-second-color;

  .new-campaign-block-wrapper {
    padding: 130px 33px 50px;
  }

  h1 {
    text-align: center;
    color: $main-light-text-color;
    font-family: $mainfont;
    font-size: 37px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}