@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$mainfont: 'Lato', sans-serif;

$titlecolor: #585858;
$linkcolor: #0073ae;
$bordercolor: #e8e8e8;
$popupbg: rgba(76, 76, 76, .7);

$tablet: (max-width: 980px);
$mobile: (max-width: 500px);